.form {
  text-align: right;
  display: flex;
flex-direction: row;

}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #016317;
  border: 1px solid #015814;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 1rem;

}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}

@media (max-width: 350px) {
  .form button {
    font-size: smaller;
    padding: 0.25rem 0.8rem;
  }
}